@import "./components.scss";

.learn {
  padding: 140px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include title($colorPrimary);
    margin-bottom: 23px;
  }

  &__line {
    margin-bottom: 70px;
    text-align: center;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__cards {
    display: grid;
    gap: 30px;
    justify-content: stretch;
    width: 665px;
    grid-template-columns: 1fr 1fr;
  }

  &__image {
    position: relative;
  }

  &__contour {
    height: 610px;
    width: 495px;
    border: 10px solid $colorGold;
    top: 60px;
    left: 80px;
    float: left;
    position: absolute;
    z-index: -1;
  }
}

.cards-learn {
  position: relative;
  width: 303px;
  height: 272px;
  background-color: $colorLightBlue;
  padding: 30px;
  z-index: 1;

  &__number {
    margin-top: 38px;
    @include text("Cardo", 23px, $colorPrimary);
  }

  &__circle {
    position: absolute;
    margin-top: -33px;
    margin-left: -5px;
    z-index: -1;
  }

  &__description {
    margin-top: 43px;
    @include text("Cardo", 24px, $colorPrimary);
  }
}
